
{% extends 'main/header.html' %}

  {% block content %}

  {% load static %}
  <!--CTA-->
  <div class="container py-5">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6 pb-4">
      <style>
    body{
      background-image: url('static/images/car4.jpg');
      background-position: 100% 10%;
      background-size: 40% auto;
      background-repeat: no-repeat;
    }
  </style>
      {% if user.is_authenticated%}
        <h2 class="display-4 font-weight-bold">Car Care Introduction</h2>
        <br/> Car Care was developed to enable users to view their past driving records and 
        using the machine learning model and big data analysis to predict their driving behavior.
        <br/>
        {% else %}
        <h2 class="display-4 font-weight-bold">Car Care Introduction</h2>
        <br/> Car Care was developed to enable users to view their past driving records and 
        using the machine learning model and big data analysis to predict their driving behavior.</br>
        <a class="btn btn-primary mt-2" href="/register">Become our member</a>
        <br><br>
        {% endif %}
        <h3 class="display-4 font-weight-bold">Contact Us</h3>
        <br/> If you want to contact us, please click the button and leave messages. <br/>
        <a class="btn btn-primary mt-2" href="/contact_us">Contact Us</a>
        <br><br>
        <h5 >
      </div>
    </div>
  </div>

  {% endblock %}