{% extends "main/header.html" %}

	{% block content %}

	<!--User page HTML-->
<br><br>
	<div class="container mx-auto">
	<meta name="viewport" content="width=device-width, initial-scale=1">
		    <div class="col-sm-12 col-md-12 col-lg-9 pb-4">
		    	<div class="col-6 my-auto">
		    	<h2 class="font-weight-bold pt-4">Data</h2>
				<br>
				<table border="1">
				<table class="table", style=center>
  					<thead>
    				<tr>
						<th scope="col">Date</th>
      					<th scope="col">Distance travelled(km)</th>
      					<th scope="col">Average EngineRPM(rpm)</th>
						<th scope="col">Fuel used(L)</th>
      					<th scope="col">Average Vehicle speed(km/h)</th>
						<th scope="col">Driver Risk</th>
    				</tr>
					{%for result in data%}
					<tr>
						<td>{{result.Date}}</td>
						<td>{{result.Distance_travelled}}</td>
						<td>{{result.Average_EngineRPM}}</td>
						<td>{{result.Fuel_used}}</td>
						<td>{{result.Average_Vehiclespeed}}</td>
						<td>{{result.Driver_Risk}}</td>
					{% endfor %}						
  					</thead>
				</table>
			</div>
		
	</div>

{% endblock %}