{% extends "main/header.html" %}

	{% block content %}
	{% load crispy_forms_tags %}

	<!--User page HTML-->
<br><br>
	<div class="container mx-auto">
		<div class="col align-self-start">
			<h2 class="display-6 font-weight-bold">UBI Introduction</h2>
			<br/> Usage-Based Insurance (UBI) is also known as pay as you drive (PAYD) and pay how you drive (PHYD)
			It's a policy that's priced based on everyone's "behavior."
			<br>Different drivers are given different premiums depending on their driving habits, making it fairer and more reasonable for safe drivers with low accident rates.
			<br>The cost depends on the type of vehicle used, depending on the time, distance, behavior and location.</br>
			<h2 class="font-weight-bold pt-4">UBI Insurance</h2>
			<br>
			<h4>Total Distance travelled: {{data}} km</h4>
			<br>
			<h4>Insurance fee: ${{fee}} NTD</h4>
			<br>

		</div>
	</div>
{% endblock %}